
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lavishly+Yours&family=Outfit:wght@100..900&family=Parisienne&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cart{
    margin-top: 150px;   

}
.carttxt{
    font-family: "Poppins", sans-serif; 
}
.cartTitle{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw,12px);
    font-family: "Poppins", sans-serif; 
    
}

.cartItemsItem{
    margin: 10px 0px;
    color: black;
}

.cartItemsItem img{
    width: 50px;
    border-radius: 2px;
}

.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cross{
    cursor: pointer;

}


/* //total price  */

.cartBottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}

.cartTotal{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartTotalDetails{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cartTotal hr{
    margin: 10px 0px;
}

.cartTotal button{
    border: none;
    color: white;
    background-color: #c82125;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif; 
}

.promocode{
    flex: 1;
}

.promocode p {
    color: #555;
}

.promoInput{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
    font-family: "Poppins", sans-serif; 
}

.promoInput input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-family: "Poppins", sans-serif; 
}

.promoInput button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    font-family: "Poppins", sans-serif; 
}

@media (max-width: 750px){
    .cartBottom{
        flex-direction: column-reverse;
    }
    .promocode{
        justify-content: start;
    }
    .cart{
        margin-top: 120px;
    }
}