/* Basic header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    color: #333;
    height: 7vh;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Styling for navigation list */
  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navList li {
    margin-right: 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .navList li:hover {
    color: #007bff;
  }
  
  /* Styling for the icons and buttons section */
  .navIcons {
    display: flex;
    align-items: center;
  }
  
  .navIcons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-right: 15px;
  }
  
  .navIcons button:hover {
    background-color: #0056b3;
  }
  
  /* Icon styling */
  .navIcons .icon {
    margin-left: 15px;
    cursor: pointer;
  }
  
  .navIcons .icon:hover {
    color: #007bff;
  }
  
  /* Styling for the user and shopping cart icons */
  .navIcons .FaUser,
  .navIcons .FaShoppingCart {
    color: #333;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navIcons .FaUser:hover,
  .navIcons .FaShoppingCart:hover {
    color: #007bff;
  }
  