@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lavishly+Yours&family=Outfit:wght@100..900&family=Parisienne&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.loginContainer{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loginTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 18px;
    /* font-family: "Poppins", sans-serif; */
}

.loginTitle img{
    width: 16px;
    cursor: pointer;
}

.loginInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginInput input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
}

.loginContainer button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #c82125;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.loginCondition{
    display: flex;
    align-items: start;
    gap: 5px;
    margin-top: -15px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
.loginCondition input{
    margin-top: 3px;
}
.login p span{
    color: #c82125;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.login p {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
}